.text-hue {
    text-shadow: 0 0 10px rgba(242, 217, 28, 0.5);
}
.nav{
    max-width: 1280px;
    margin: auto;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 40px;
    height: 40px;
}

.nav-childs{
    display: flex;
    align-items: center;
    gap: 20px;
}